<footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><%= link_to('Home', root_path ) %></li>
          <li><%= link_to('Search', videos_new_path ) %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>